.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid #808080;
}

.gallery-description-container {
  display: flex;
  padding: 4px 20px;
  gap: 28px;
  height: 48px;

  justify-content: center;
  align-items: center;
  background-color: #fff;
}
